In [19]:
# Generated using Claude.ai
#https://claude.ai/chat/18fa6039-d306-449d-958b-08ad823fe977

In [20]:
from pathlib import Path

import pandas as pd

data_path = '/mnt/DATA3-4TB/BRIT_git/TORCH_georeferencing/data/TORCH-data_snapshots_TX_OK_2024-12-06/'
input_file = 'torch_bels_locs_SAMPLE.tsv' # stored in data_path

def analyze_locations_v1(df):
    """
    Creates location IDs and analyzes location groups.
    
    Parameters:
    df (pd.DataFrame): DataFrame with 'bels_location_string' and coordinate columns
    
    Returns:
    pd.DataFrame: DataFrame with location IDs and group statistics
    """
    # Create location IDs
    unique_locations = df['bels_location_string'].unique()
    location_to_id = {loc: idx for idx, loc in enumerate(unique_locations)}
    df['bels_location_id'] = df['bels_location_string'].map(location_to_id)
    
    # Calculate stats per location
    location_stats = df.groupby('bels_location_string').agg({
        'decimalLatitude': lambda x: x.notna().sum(),
        'bels_location_string': 'count'
    }).rename(columns={
        'decimalLatitude': 'coordinate_count',
        'bels_location_string': 'bels_group_rec_count'
    })
    
    # Merge stats back to original dataframe
    return df.merge(location_stats, on='bels_location_string')

In [21]:
def analyze_locations_v2(df):
    """
    Creates location IDs, coordinate pair IDs, and analyzes location groups.
    
    Parameters:
    df (pd.DataFrame): DataFrame with 'bels_location_string' and coordinate columns
    
    Returns:
    pd.DataFrame: DataFrame with location IDs, coordinate IDs, and group statistics
    """
    # Create location IDs
    unique_locations = df['bels_location_string'].unique()
    location_to_id = {loc: idx for idx, loc in enumerate(unique_locations)}
    df['bels_location_id'] = df['bels_location_string'].map(location_to_id)
    
    # Create unique IDs for distinct coordinate pairs
    # First, create a tuple of coordinates to use as a key
    df['coord_pair'] = df.apply(
        lambda row: (row['decimalLongitude'], row['decimalLatitude'])
        if pd.notna(row['decimalLongitude']) and pd.notna(row['decimalLatitude'])
        else None,
        axis=1
    )
    
    # Create mapping of unique coordinate pairs to IDs
    unique_coords = df['coord_pair'].dropna().unique()
    coord_to_id = {coord: idx for idx, coord in enumerate(unique_coords)}
    
    # Map the IDs back to the dataframe
    df['coordinate_pair_id'] = df['coord_pair'].map(coord_to_id)
    
    # Drop the temporary coord_pair column
    df = df.drop('coord_pair', axis=1)
    
    # Calculate stats per location
    location_stats = df.groupby('bels_location_string').agg({
        'decimalLatitude': lambda x: x.notna().sum(),
        'bels_location_string': 'count'
    }).rename(columns={
        'decimalLatitude': 'coordinate_count',
        'bels_location_string': 'bels_group_rec_count'
    })
    
    # Merge stats back to original dataframe
    return df.merge(location_stats, on='bels_location_string')

In [37]:
def analyze_locations(df):
    """
    Creates location IDs, coordinate pair IDs, and analyzes location groups.
    Includes counts of matching coordinate pairs.
    
    Parameters:
    df (pd.DataFrame): DataFrame with 'bels_location_string' and coordinate columns
    
    Returns:
    pd.DataFrame: DataFrame with location IDs, coordinate IDs, and various statistics
    """
    # Create location IDs
    unique_locations = df['bels_location_string'].unique()
    location_to_id = {loc: idx for idx, loc in enumerate(unique_locations)}
    df['bels_location_id'] = df['bels_location_string'].map(location_to_id)
    
    # Create unique IDs for distinct coordinate pairs
    # First, create a tuple of coordinates to use as a key
    df['coord_pair'] = df.apply(
        lambda row: (row['decimalLongitude'], row['decimalLatitude'])
        if pd.notna(row['decimalLongitude']) and pd.notna(row['decimalLatitude'])
        else None,
        axis=1
    )
    
    # Create mapping of unique coordinate pairs to IDs
    unique_coords = df['coord_pair'].dropna().unique()
    coord_to_id = {coord: idx for idx, coord in enumerate(unique_coords)}
    
    # Map the IDs back to the dataframe and convert to integer
    df['coordinate_pair_id'] = df['coord_pair'].map(coord_to_id).astype('Int64')
    
    # Calculate count of matching coordinate pairs and convert to integer
    coord_counts = df['coord_pair'].value_counts().to_dict()
    df['coord_match_count'] = df['coord_pair'].map(coord_counts).astype('Int64')
    
    # Drop the temporary coord_pair column
    df = df.drop('coord_pair', axis=1)
    
    # Calculate stats per location
    location_stats = df.groupby('bels_location_string').agg({
        'decimalLatitude': lambda x: x.notna().sum(),
        'bels_location_string': 'count'
    }).rename(columns={
        'decimalLatitude': 'bels_group_coord_count',
        'bels_location_string': 'bels_group_rec_count'
    })
    
    # Merge stats back to original dataframe
    return df.merge(location_stats, on='bels_location_string')

In [38]:
def summarize_locations_by_region_v1(df):
    """
    Generates location group statistics for each state/county combination.
    /tmp/ipykernel_516747/3985458850.py:15: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  return df.groupby(['stateProvince', 'county']).apply(get_stats).reset_index()
    """
    def get_stats(group):
        total_groups = group['bels_location_id'].nunique()
        groups_with_coords = group.groupby('bels_location_id')['coordinate_count'].first()
        
        return pd.Series({
            'total_location_groups': total_groups,
            'groups_with_coordinates': (groups_with_coords > 0).sum(),
            'groups_without_coordinates': (groups_with_coords == 0).sum()
        })
    
    return df.groupby(['stateProvince', 'county']).apply(get_stats).reset_index()

In [23]:
def summarize_locations_by_region_v2(df):
    """
    Generates location group statistics for each state/county combination.
    """
    def get_stats(group):
        total_groups = group['bels_location_id'].nunique()
        groups_with_coords = group.groupby('bels_location_id')['coordinate_count'].first()
        
        return pd.Series({
            'total_location_groups': total_groups,
            'groups_with_coordinates': (groups_with_coords > 0).sum(),
            'groups_without_coordinates': (groups_with_coords == 0).sum()
        })
    
    return df.groupby(['stateProvince', 'county']).apply(get_stats, include_groups=False).reset_index()

In [24]:
def summarize_locations_by_region(df):
    """
    Generates location group statistics for each state/county combination.
    """
    def get_stats(group):
        total_groups = group['bels_location_id'].nunique()
        groups_with_coords = group.groupby('bels_location_id')['coordinate_count'].first()
        total_records = len(group)
        records_with_coords = group['decimalLatitude'].notna().sum()
        
        return pd.Series({
            'total_location_groups': total_groups,
            'groups_with_coordinates': (groups_with_coords > 0).sum(),
            'groups_without_coordinates': (groups_with_coords == 0).sum(),
            'total_records': total_records,
            'records_with_coordinates': records_with_coords,
            'records_without_coordinates': total_records - records_with_coords
        })
    
    return df.groupby(['stateProvince', 'county']).apply(get_stats, include_groups=False).reset_index()

In [39]:
# Example usage
if __name__ == "__main__":
    # Input DataFrame
    input_path = Path(data_path) / input_file
    df_occ = pd.read_csv(input_path, low_memory=False, sep='\t')
    
    # Process the DataFrame
    #result = add_coordinate_counts(data)
    result = analyze_locations(df_occ)
    
    # Display all columns
    pd.set_option('display.max_columns', None)
    print("\nProcessed DataFrame with coordinate counts:")
    print(result)

Processed DataFrame with coordinate counts:
             id institutionCode collectionCode ownerInstitutionCode  \
0      14218975            BRIT           BRIT                  NaN
1      14218976            BRIT           BRIT                  NaN
2      14218977            BRIT           BRIT                  NaN
3      14218978            BRIT           BRIT                  NaN
4      14218979            BRIT           BRIT                  NaN
...         ...             ...            ...                  ...
99994  24931667            BRIT           BRIT                  NaN
99995  24931668            BRIT           BRIT                  NaN
99996  24931669            BRIT           BRIT                  NaN
99997  24931670            BRIT            SMU                  NaN
99998  24931671            BRIT            SMU                  NaN

                               collectionID      basisOfRecord  \
0      fea81a47-2365-45cc-bef9-b6bbff7457e6  PreservedSpecimen
1      fea81a47-2365-45cc-bef9-b6bbff7457e6  PreservedSpecimen
2      fea81a47-2365-45cc-bef9-b6bbff7457e6  PreservedSpecimen
3      fea81a47-2365-45cc-bef9-b6bbff7457e6  PreservedSpecimen
4      fea81a47-2365-45cc-bef9-b6bbff7457e6  PreservedSpecimen
...                                     ...                ...
99994  fea81a47-2365-45cc-bef9-b6bbff7457e6  PreservedSpecimen
99995  fea81a47-2365-45cc-bef9-b6bbff7457e6  PreservedSpecimen
99996  fea81a47-2365-45cc-bef9-b6bbff7457e6  PreservedSpecimen
99997  fea81a47-2365-45cc-bef9-b6bbff7457e6  PreservedSpecimen
99998  fea81a47-2365-45cc-bef9-b6bbff7457e6  PreservedSpecimen

                               occurrenceID catalogNumber otherCatalogNumbers  \
0      ce2d9b58-9322-479a-b94a-97bf9afde740    BRIT122345                 NaN
1      58730970-7f7d-4a7d-8968-14f8658971a1    BRIT122346                 NaN
2      0af7b505-c943-4f23-b28e-9b6c1f2b2682    BRIT122347                 NaN
3      8df96887-1304-42d3-9077-98fd6644d07c    BRIT122348                 NaN
4      f00e3cf9-1054-49ae-84cb-fedea90f7191    BRIT122349                 NaN
...                                     ...           ...                 ...
99994  f27f9da4-853e-48ea-95bf-5e01fbc0e34e    BRIT452733                 NaN
99995  a85acbf9-2939-444b-935b-77db561114e7    BRIT456950                 NaN
99996  5ba9ba96-8e43-4608-a5c5-29b372486716    BRIT451914                 NaN
99997  c95af5ff-aaf7-4cc9-a3b8-bb1e2149e635    BRIT388075                 NaN
99998  efc90df2-7b54-4267-bed8-f48c94c5ba91    BRIT450819                 NaN

                                    higherClassification  kingdom  \
0      Plantae|Tracheophyta|Pteridophyta|Equisetopsid...  Plantae
1      Plantae|Tracheophyta|Pteridophyta|Equisetopsid...  Plantae
2      Plantae|Tracheophyta|Pteridophyta|Filicopsida|...  Plantae
3      Plantae|Tracheophyta|Pteridophyta|Filicopsida|...  Plantae
4      Plantae|Tracheophyta|Pteridophyta|Polypodiopsi...  Plantae
...                                                  ...      ...
99994  Plantae|Spermatophyta|Tracheophyta|Magnoliophy...  Plantae
99995  Plantae|Spermatophyta|Tracheophyta|Magnoliophy...  Plantae
99996  Plantae|Spermatophyta|Tracheophyta|Magnoliophy...  Plantae
99997  Plantae|Spermatophyta|Tracheophyta|Magnoliophy...  Plantae
99998  Plantae|Spermatophyta|Tracheophyta|Magnoliophy...  Plantae

              phylum           class           order           family  \
0       Pteridophyta   Equisetopsida     Equisetales     Equisetaceae
1       Pteridophyta   Equisetopsida     Equisetales     Equisetaceae
2       Pteridophyta     Filicopsida  Ophioglossales  Ophioglossaceae
3       Pteridophyta     Filicopsida  Ophioglossales  Ophioglossaceae
4       Pteridophyta  Polypodiopsida      Osmundales      Osmundaceae
...              ...             ...             ...              ...
99994  Magnoliophyta             NaN        Lamiales    Orobanchaceae
99995  Magnoliophyta             NaN        Lamiales      Verbenaceae
99996  Magnoliophyta             NaN    Malpighiales       Salicaceae
99997  Magnoliophyta             NaN  Caryophyllales     Polygonaceae
99998  Magnoliophyta             NaN     Gentianales        Rubiaceae

                           scientificName   taxonID scientificNameAuthorship  \
0           Equisetum hyemale var. affine   12867.0    (Engelm.) A. A. Eaton
1         Equisetum hyemale subsp. affine   11395.0    (Engelm.) A. A. Eaton
2                   Botrychium biternatum   74923.0           (Sav.) Underw.
3                    Botrypus virginianus  215347.0              (L.) Michx.
4                      Osmunda cinnamomea   93281.0                       L.
...                                   ...       ...                      ...
99994    Castilleja purpurea var. citrina  108579.0       (Pennell) Shinners
99995              Glandularia canadensis   18262.0               (L.) Nutt.
99996                         Salix nigra   99794.0                 Marshall
99997              Polygonum argyrocoleon      13.0          Steud. ex Kunze
99998  Richardia tricocca subsp. tricocca  369568.0                      NaN

             genus  subgenus specificEpithet verbatimTaxonRank  \
0        Equisetum       NaN         hyemale              var.
1        Equisetum       NaN         hyemale            subsp.
2       Botrychium       NaN      biternatum               NaN
3         Botrypus       NaN     virginianus               NaN
4          Osmunda       NaN      cinnamomea               NaN
...            ...       ...             ...               ...
99994   Castilleja       NaN        purpurea              var.
99995  Glandularia       NaN      canadensis               NaN
99996        Salix       NaN           nigra               NaN
99997    Polygonum       NaN    argyrocoleon               NaN
99998    Richardia       NaN        tricocca            subsp.

      infraspecificEpithet   taxonRank          identifiedBy dateIdentified  \
0                   affine     Variety                   NaN            NaN
1                   affine  Subspecies                   NaN            NaN
2                      NaN     Species        Raul Gutierrez     2011-01-01
3                      NaN     Species                   NaN     2012-01-01
4                      NaN     Species     J. Richard Abbott     2010-01-00
...                    ...         ...                   ...            ...
99994              citrina     Variety                   NaN            NaN
99995                  NaN     Species                   NaN            NaN
99996                  NaN     Species                   NaN            NaN
99997                  NaN     Species                   LHS     1954-12-29
99998             tricocca  Subspecies  Walter H. Lewis (MO)     1973-02-00

      identificationReferences identificationRemarks taxonRemarks  \
0                          NaN                   NaN          NaN
1                          NaN                   NaN          NaN
2                          NaN                   NaN          NaN
3                          NaN                   NaN          NaN
4                          NaN                   NaN          NaN
...                        ...                   ...          ...
99994                      NaN                   NaN          NaN
99995                      NaN                   NaN          NaN
99996                      NaN                   NaN          NaN
99997                      NaN                   NaN          NaN
99998                      NaN                   NaN          NaN

      identificationQualifier typeStatus  \
0                         NaN        NaN
1                         NaN        NaN
2                         NaN        NaN
3                         NaN        NaN
4                         NaN        NaN
...                       ...        ...
99994                     NaN        NaN
99995                     NaN        NaN
99996                     NaN        NaN
99997                     NaN        NaN
99998                     NaN        NaN

                                              recordedBy recordNumber  \
0      Charles Allen; Dawn Newman, Jeff McMillian, Pa...        22444
1                                     Robert J. O'Kennon        22543
2                                         Raul Gutierrez         2463
3                                          Charles Allen        22222
4                                          Brenda Graves         s.n.
...                                                  ...          ...
99994                                      Joe Cornelius          778
99995                                        John Taylor        18300
99996                                          K. Boylan          373
99997                                  Barton H. Warnock         8275
99998                                       J. Reverchon         1528

        eventDate    year  month   day  startDayOfYear  endDayOfYear  \
0      2011-10-07  2011.0   10.0   7.0           280.0           NaN
1      2010-07-15  2010.0    7.0  15.0           196.0           NaN
2      2010-10-05  2010.0   10.0   5.0           278.0           NaN
3      2011-04-07  2011.0    4.0   7.0            97.0           NaN
4      1972-05-13  1972.0    5.0  13.0           134.0           NaN
...           ...     ...    ...   ...             ...           ...
99994  1981-04-20  1981.0    4.0  20.0           110.0           NaN
99995  1975-04-15  1975.0    4.0  15.0           105.0           NaN
99996  1990-04-29  1990.0    4.0  29.0           119.0           NaN
99997  1948-10-12  1948.0   10.0  12.0           286.0           NaN
99998     1885-07  1885.0    7.0   0.0             NaN           NaN

      verbatimEventDate                                  occurrenceRemarks  \
0            2011-10-07                                                NaN
1                   NaN  Over 200 plants.; Most in population ~1.5 m tall.
2                   NaN                                                NaN
3                   NaN                                                NaN
4                   NaN                                                NaN
...                 ...                                                ...
99994     20 April 1981                                           Abundant
99995     15 April 1975                                                NaN
99996     29 April 1990                                                NaN
99997   12 October 1948                                          Frequent.
99998      00 July 1885                                                NaN

                                                 habitat fieldNumber eventID  \
0                                 Hardwood slope forest.         NaN     NaN
1      Growing in moist sandy soil along margin of pond.         NaN     NaN
2                                              Site UDF1         NaN     NaN
3                                  Clay riparian forest.         NaN     NaN
4                                                    NaN         NaN     NaN
...                                                  ...         ...     ...
99994                      in disturbed soil of roadside         NaN     NaN
99995                                                NaN         NaN     NaN
99996                        Growing in abandoned field.         NaN     NaN
99997                Along drainage way; limestone soil.         NaN     NaN
99998                         Gravels on the Piedernales         NaN     NaN

      informationWithheld  dataGeneralizations dynamicProperties  \
0                     NaN                  NaN               NaN
1                     NaN                  NaN               NaN
2                     NaN                  NaN               NaN
3                     NaN                  NaN               NaN
4                     NaN                  NaN               NaN
...                   ...                  ...               ...
99994                 NaN                  NaN               NaN
99995                 NaN                  NaN               NaN
99996                 NaN                  NaN               NaN
99997                 NaN                  NaN               NaN
99998                 NaN                  NaN               NaN

                                   associatedOccurrences  associatedSequences  \
0      herbariumSpecimenDuplicate: https://portal.tor...                  NaN
1                                                    NaN                  NaN
2                                                    NaN                  NaN
3      herbariumSpecimenDuplicate: https://portal.tor...                  NaN
4                                                    NaN                  NaN
...                                                  ...                  ...
99994  herbariumSpecimenDuplicate: https://portal.tor...                  NaN
99995  herbariumSpecimenDuplicate: https://portal.tor...                  NaN
99996                                                NaN                  NaN
99997  herbariumSpecimenDuplicate: https://portal.tor...                  NaN
99998                                                NaN                  NaN

      associatedTaxa reproductiveCondition establishmentMeans lifeStage  sex  \
0                NaN                   NaN                NaN       NaN  NaN
1                NaN                   NaN                NaN       NaN  NaN
2                NaN                   NaN                NaN       NaN  NaN
3                NaN                   NaN                NaN       NaN  NaN
4                NaN                   NaN                NaN       NaN  NaN
...              ...                   ...                ...       ...  ...
99994            NaN                   NaN                NaN       NaN  NaN
99995            NaN                   NaN                NaN       NaN  NaN
99996            NaN                   NaN                NaN       NaN  NaN
99997            NaN                   NaN                NaN       NaN  NaN
99998            NaN                   NaN                NaN       NaN  NaN

       individualCount  samplingProtocol preparations  locationID  continent  \
0                  NaN               NaN          NaN         NaN        NaN
1                  NaN               NaN          NaN         NaN        NaN
2                  NaN               NaN          NaN         NaN        NaN
3                  NaN               NaN          NaN         NaN        NaN
4                  NaN               NaN          NaN         NaN        NaN
...                ...               ...          ...         ...        ...
99994              NaN               NaN          NaN         NaN        NaN
99995              NaN               NaN          NaN         NaN        NaN
99996              NaN               NaN          NaN         NaN        NaN
99997              NaN               NaN          NaN         NaN        NaN
99998              NaN               NaN          NaN         NaN        NaN

       waterBody  islandGroup  island        country stateProvince  \
0            NaN          NaN     NaN  United States         Texas
1            NaN          NaN     NaN  United States         Texas
2            NaN          NaN     NaN  United States         Texas
3            NaN          NaN     NaN  United States         Texas
4            NaN          NaN     NaN  United States         Texas
...          ...          ...     ...            ...           ...
99994        NaN          NaN     NaN  United States         Texas
99995        NaN          NaN     NaN  United States         Texas
99996        NaN          NaN     NaN  United States         Texas
99997        NaN          NaN     NaN  United States         Texas
99998        NaN          NaN     NaN  United States         Texas

             county municipality  \
0            Newton          NaN
1           Tarrant          NaN
2            Fannin          NaN
3            Newton          NaN
4            Hardin          NaN
...             ...          ...
99994  Throckmorton          NaN
99995         Bowie          NaN
99996        Denton          NaN
99997      Brewster          NaN
99998        Blanco          NaN

                                                locality locationRemarks  \
0      Forest off Texas 87 near Yellow Bayou, ca. 3 m...             NaN
1      Margin of Horsetail Pond, Fort Worth Nature Ce...             NaN
2      NE corner of Fannin County at Riverby Ranch, t...             NaN
3      Forest off Texas 87 near small creek, ca 4 mi ...             NaN
4                        Collected from Big Thicket area             NaN
...                                                  ...             ...
99994             Approximately 16 km E of Throckmorton.             NaN
99995      Near FRM rd 992 about 11 mi. NE of DeKalb, TX             NaN
99996  E side of Marsh Lane, just S of intersection w...             NaN
99997                                        In Marathon             NaN
99998                         Gravels on the Piedernales             NaN

       decimalLatitude  decimalLongitude geodeticDatum  \
0                  NaN               NaN           NaN
1            32.843979        -97.489165         WGS84
2            33.793056        -95.903633         WGS84
3                  NaN               NaN           NaN
4                  NaN               NaN           NaN
...                ...               ...           ...
99994              NaN               NaN           NaN
99995              NaN               NaN           NaN
99996        33.010183        -96.857363         WGS84
99997              NaN               NaN           NaN
99998              NaN               NaN           NaN

       coordinateUncertaintyInMeters       verbatimCoordinates  \
0                                NaN                       NaN
1                               57.0    32°50'38"N, 97°29'22"W
2                             8900.0  33°47'35"N 95°54'13.08"W
3                                NaN                       NaN
4                                NaN                       NaN
...                              ...                       ...
99994                            NaN                       NaN
99995                            NaN                       NaN
99996                          192.0                       NaN
99997                            NaN                       NaN
99998                            NaN                       NaN

             georeferencedBy              georeferenceProtocol  \
0                        NaN                               NaN
1      Joseph Lippert (BRIT)                               NaN
2      Joseph Lippert (BRIT)                               NaN
3                        NaN                               NaN
4                        NaN                               NaN
...                      ...                               ...
99994                    NaN                               NaN
99995                    NaN                               NaN
99996                sekberg  CCH2 Georef. Protocol 09/30/2020
99997                    NaN                               NaN
99998                    NaN                               NaN

      georeferenceSources georeferenceVerificationStatus  \
0                     NaN                            NaN
1                     NaN                            NaN
2                     NaN                            NaN
3                     NaN                            NaN
4                     NaN                            NaN
...                   ...                            ...
99994                 NaN                            NaN
99995                 NaN                            NaN

In [36]:
result.shape
#df_sorted = result.sort_values(by=['coordinate_count'], ascending=False)
#df_sorted

(99999, 124)

# After running analyze_locations
#print(result.columns)  # This will show all column names
print(columns[['bels_location_string', 'bels_location_id', 'bels_group_rec_count']].head())  # Show sample data

result.head

In [28]:
df_summary = summarize_locations_by_region(result)

In [29]:
df_summary

,stateProvince,county,total_location_groups,groups_with_coordinates,groups_without_coordinates,total_records,records_with_coordinates,records_without_coordinates
0,Oklahoma,Adair,19,4,15,27,4,23
1,Oklahoma,Alfalfa,1,1,0,1,1,0
2,Oklahoma,Atoka,47,2,45,50,2,48
3,Oklahoma,Beaver,7,6,1,8,7,1
4,Oklahoma,Beckham,4,1,3,4,1,3
...,...,...,...,...,...,...,...,...
322,Texas,Yoakum,7,7,0,8,8,0
323,Texas,Young,78,75,3,143,138,5
324,Texas,Zapata,191,11,180,319,13,306
325,Texas,Zavala,60,0,60,98,0,98
326,Texas,[no data],4,0,4,4,0,4

In [33]:
print(result.head())

         id institutionCode collectionCode ownerInstitutionCode  \
0  14218975            BRIT           BRIT                  NaN
1  14218976            BRIT           BRIT                  NaN
2  14218977            BRIT           BRIT                  NaN
3  14218978            BRIT           BRIT                  NaN
4  14218979            BRIT           BRIT                  NaN

                           collectionID      basisOfRecord  \
0  fea81a47-2365-45cc-bef9-b6bbff7457e6  PreservedSpecimen
1  fea81a47-2365-45cc-bef9-b6bbff7457e6  PreservedSpecimen
2  fea81a47-2365-45cc-bef9-b6bbff7457e6  PreservedSpecimen
3  fea81a47-2365-45cc-bef9-b6bbff7457e6  PreservedSpecimen
4  fea81a47-2365-45cc-bef9-b6bbff7457e6  PreservedSpecimen

                           occurrenceID catalogNumber otherCatalogNumbers  \
0  ce2d9b58-9322-479a-b94a-97bf9afde740    BRIT122345                 NaN
1  58730970-7f7d-4a7d-8968-14f8658971a1    BRIT122346                 NaN
2  0af7b505-c943-4f23-b28e-9b6c1f2b2682    BRIT122347                 NaN
3  8df96887-1304-42d3-9077-98fd6644d07c    BRIT122348                 NaN
4  f00e3cf9-1054-49ae-84cb-fedea90f7191    BRIT122349                 NaN

                                higherClassification  kingdom        phylum  \
0  Plantae|Tracheophyta|Pteridophyta|Equisetopsid...  Plantae  Pteridophyta
1  Plantae|Tracheophyta|Pteridophyta|Equisetopsid...  Plantae  Pteridophyta
2  Plantae|Tracheophyta|Pteridophyta|Filicopsida|...  Plantae  Pteridophyta
3  Plantae|Tracheophyta|Pteridophyta|Filicopsida|...  Plantae  Pteridophyta
4  Plantae|Tracheophyta|Pteridophyta|Polypodiopsi...  Plantae  Pteridophyta

            class           order           family  \
0   Equisetopsida     Equisetales     Equisetaceae
1   Equisetopsida     Equisetales     Equisetaceae
2     Filicopsida  Ophioglossales  Ophioglossaceae
3     Filicopsida  Ophioglossales  Ophioglossaceae
4  Polypodiopsida      Osmundales      Osmundaceae

                    scientificName   taxonID scientificNameAuthorship  \
0    Equisetum hyemale var. affine   12867.0    (Engelm.) A. A. Eaton
1  Equisetum hyemale subsp. affine   11395.0    (Engelm.) A. A. Eaton
2            Botrychium biternatum   74923.0           (Sav.) Underw.
3             Botrypus virginianus  215347.0              (L.) Michx.
4               Osmunda cinnamomea   93281.0                       L.

        genus  subgenus specificEpithet verbatimTaxonRank  \
0   Equisetum       NaN         hyemale              var.
1   Equisetum       NaN         hyemale            subsp.
2  Botrychium       NaN      biternatum               NaN
3    Botrypus       NaN     virginianus               NaN
4     Osmunda       NaN      cinnamomea               NaN

  infraspecificEpithet   taxonRank       identifiedBy dateIdentified  \
0               affine     Variety                NaN            NaN
1               affine  Subspecies                NaN            NaN
2                  NaN     Species     Raul Gutierrez     2011-01-01
3                  NaN     Species                NaN     2012-01-01
4                  NaN     Species  J. Richard Abbott     2010-01-00

  identificationReferences identificationRemarks taxonRemarks  \
0                      NaN                   NaN          NaN
1                      NaN                   NaN          NaN
2                      NaN                   NaN          NaN
3                      NaN                   NaN          NaN
4                      NaN                   NaN          NaN

  identificationQualifier typeStatus  \
0                     NaN        NaN
1                     NaN        NaN
2                     NaN        NaN
3                     NaN        NaN
4                     NaN        NaN

                                          recordedBy recordNumber   eventDate  \
0  Charles Allen; Dawn Newman, Jeff McMillian, Pa...        22444  2011-10-07
1                                 Robert J. O'Kennon        22543  2010-07-15
2                                     Raul Gutierrez         2463  2010-10-05
3                                      Charles Allen        22222  2011-04-07
4                                      Brenda Graves         s.n.  1972-05-13

     year  month   day  startDayOfYear  endDayOfYear verbatimEventDate  \
0  2011.0   10.0   7.0           280.0           NaN        2011-10-07
1  2010.0    7.0  15.0           196.0           NaN               NaN
2  2010.0   10.0   5.0           278.0           NaN               NaN
3  2011.0    4.0   7.0            97.0           NaN               NaN
4  1972.0    5.0  13.0           134.0           NaN               NaN

                                   occurrenceRemarks  \
0                                                NaN
1  Over 200 plants.; Most in population ~1.5 m tall.
2                                                NaN
3                                                NaN
4                                                NaN

                                             habitat fieldNumber eventID  \
0                             Hardwood slope forest.         NaN     NaN
1  Growing in moist sandy soil along margin of pond.         NaN     NaN
2                                          Site UDF1         NaN     NaN
3                              Clay riparian forest.         NaN     NaN
4                                                NaN         NaN     NaN

  informationWithheld  dataGeneralizations dynamicProperties  \
0                 NaN                  NaN               NaN
1                 NaN                  NaN               NaN
2                 NaN                  NaN               NaN
3                 NaN                  NaN               NaN
4                 NaN                  NaN               NaN

                               associatedOccurrences  associatedSequences  \
0  herbariumSpecimenDuplicate: https://portal.tor...                  NaN
1                                                NaN                  NaN
2                                                NaN                  NaN
3  herbariumSpecimenDuplicate: https://portal.tor...                  NaN
4                                                NaN                  NaN

  associatedTaxa reproductiveCondition establishmentMeans lifeStage  sex  \
0            NaN                   NaN                NaN       NaN  NaN
1            NaN                   NaN                NaN       NaN  NaN
2            NaN                   NaN                NaN       NaN  NaN
3            NaN                   NaN                NaN       NaN  NaN
4            NaN                   NaN                NaN       NaN  NaN

   individualCount  samplingProtocol preparations  locationID  continent  \
0              NaN               NaN          NaN         NaN        NaN
1              NaN               NaN          NaN         NaN        NaN
2              NaN               NaN          NaN         NaN        NaN
3              NaN               NaN          NaN         NaN        NaN
4              NaN               NaN          NaN         NaN        NaN

   waterBody  islandGroup  island        country stateProvince   county  \
0        NaN          NaN     NaN  United States         Texas   Newton
1        NaN          NaN     NaN  United States         Texas  Tarrant
2        NaN          NaN     NaN  United States         Texas   Fannin
3        NaN          NaN     NaN  United States         Texas   Newton
4        NaN          NaN     NaN  United States         Texas   Hardin

  municipality                                           locality  \
0          NaN  Forest off Texas 87 near Yellow Bayou, ca. 3 m...
1          NaN  Margin of Horsetail Pond, Fort Worth Nature Ce...
2          NaN  NE corner of Fannin County at Riverby Ranch, t...
3          NaN  Forest off Texas 87 near small creek, ca 4 mi ...
4          NaN                    Collected from Big Thicket area

  locationRemarks  decimalLatitude  decimalLongitude geodeticDatum  \
0             NaN              NaN               NaN           NaN
1             NaN        32.843979        -97.489165         WGS84
2             NaN        33.793056        -95.903633         WGS84
3             NaN              NaN               NaN           NaN
4             NaN              NaN               NaN           NaN

   coordinateUncertaintyInMeters       verbatimCoordinates  \
0                            NaN                       NaN
1                           57.0    32°50'38"N, 97°29'22"W
2                         8900.0  33°47'35"N 95°54'13.08"W
3                            NaN                       NaN
4                            NaN                       NaN

         georeferencedBy georeferenceProtocol georeferenceSources  \
0                    NaN                  NaN                 NaN
1  Joseph Lippert (BRIT)                  NaN                 NaN
2  Joseph Lippert (BRIT)                  NaN                 NaN
3                    NaN                  NaN                 NaN
4                    NaN                  NaN                 NaN

  georeferenceVerificationStatus  \
0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN

                                 georeferenceRemarks  \
0                                                NaN
1  Georeferenced to centroid of pond with radius ...
2  Centroid located at provided coordinates, with...
3                                                NaN
4                                                NaN

   minimumElevationInMeters  maximumElevationInMeters  minimumDepthInMeters  \
0                       NaN                       NaN                   NaN
1                     190.0                       NaN                   NaN
2                     148.0                       NaN                   NaN
3                       NaN                       NaN                   NaN
4                       NaN                       NaN                   NaN

   maximumDepthInMeters verbatimDepth verbatimElevation disposition language  \
0                   NaN           NaN               NaN         NaN      NaN
1                   NaN           NaN               NaN         NaN      NaN
2                   NaN           NaN            485 ft         NaN      NaN
3                   NaN           NaN               NaN         NaN      NaN
4                   NaN           NaN               NaN         NaN      NaN

  recordEnteredBy             modified  \
0             NaN  2023-07-16 07:02:03
1             NaN  2023-07-16 07:02:03
2             NaN  2023-07-16 07:02:03
3             NaN  2023-07-16 07:02:03
4             NaN  2023-07-16 07:02:03

                                              rights  \
0  http://creativecommons.org/publicdomain/zero/1.0/
1  http://creativecommons.org/publicdomain/zero/1.0/
2  http://creativecommons.org/publicdomain/zero/1.0/
3  http://creativecommons.org/publicdomain/zero/1.0/
4  http://creativecommons.org/publicdomain/zero/1.0/

                            rightsHolder  accessRights  \
0  Botanical Research Institute of Texas           NaN
1  Botanical Research Institute of Texas           NaN
2  Botanical Research Institute of Texas           NaN
3  Botanical Research Institute of Texas           NaN
4  Botanical Research Institute of Texas           NaN

                               recordID  \
0  ce2d9b58-9322-479a-b94a-97bf9afde740
1  58730970-7f7d-4a7d-8968-14f8658971a1
2  0af7b505-c943-4f23-b28e-9b6c1f2b2682
3  8df96887-1304-42d3-9077-98fd6644d07c
4  f00e3cf9-1054-49ae-84cb-fedea90f7191

                                          references  \
0  https://portal.torcherbaria.org/portal/collect...
1  https://portal.torcherbaria.org/portal/collect...
2  https://portal.torcherbaria.org/portal/collect...
3  https://portal.torcherbaria.org/portal/collect...
4  https://portal.torcherbaria.org/portal/collect...

                                bels_location_string  type  license  \
0  texasnewtonforestofftexas87nearyellowbayouca3m...   NaN      NaN
1  texastarrantmarginofhorsetailpondfortworthnatu...   NaN      NaN
2  texasfanninnecorneroffannincountyatriverbyranc...   NaN      NaN
3  texasnewtonforestofftexas87nearsmallcreekca4mi...   NaN      NaN
4             texashardincollectedfrombigthicketarea   NaN      NaN

   institutionID  associatedMedia  organismID  previousIdentifications  \
0            NaN              NaN         NaN                      NaN
1            NaN              NaN         NaN                      NaN
2            NaN              NaN         NaN                      NaN
3            NaN              NaN         NaN                      NaN
4            NaN              NaN         NaN                      NaN

   eventTime  eventRemarks  higherGeography  verbatimLocality  \
0        NaN           NaN              NaN               NaN
1        NaN           NaN              NaN               NaN
2        NaN           NaN              NaN               NaN
3        NaN           NaN              NaN               NaN
4        NaN           NaN              NaN               NaN

   locationAccordingTo  verbatimCoordinateSystem  footprintWKT  \
0                  NaN                       NaN           NaN
1                  NaN                       NaN           NaN
2                  NaN                       NaN           NaN
3                  NaN                       NaN           NaN
4                  NaN                       NaN           NaN

   georeferencedDate  earliestEonOrLowestEonothem  earliestEraOrLowestErathem  \
0                NaN                          NaN                         NaN
1                NaN                          NaN                         NaN
2                NaN                          NaN                         NaN
3                NaN                          NaN                         NaN
4                NaN                          NaN                         NaN

   earliestPeriodOrLowestSystem  earliestEpochOrLowestSeries  \
0                           NaN                          NaN
1                           NaN                          NaN
2                           NaN                          NaN
3                           NaN                          NaN
4                           NaN                          NaN

   earliestAgeOrLowestStage  group  formation  member  \
0                       NaN    NaN        NaN     NaN
1                       NaN    NaN        NaN     NaN
2                       NaN    NaN        NaN     NaN
3                       NaN    NaN        NaN     NaN
4                       NaN    NaN        NaN     NaN

   identificationVerificationStatus  scientificNameID  nomenclaturalCode  \
0                               NaN               NaN                NaN
1                               NaN               NaN                NaN
2                               NaN               NaN                NaN
3                               NaN               NaN                NaN
4                               NaN               NaN                NaN

   bels_location_id  coordinate_pair_id  coordinate_count  \
0                 0                 NaN                 0
1                 1                 0.0                 1
2                 2                 1.0                 1
3                 3                 NaN                 0
4                 4                 NaN                 0

   bels_group_rec_count
0                     2
1                     1
2                     1
3                     1
4                     5